.class-room > section {
  padding: 1em;
}

.class-room > .title {
  border-bottom: 1rem solid black;
}


.student {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 1em;
}

.avatar {
  height: 2rem;
  width: 2rem;
  background-color: lightgrey;
  border-radius: 50%;
  overflow: hidden;
}

.avatar > img {
  height: 2rem;
  margin: 0.5rem auto 0;
  display: block;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

