<html>
<head>
</head>
<body>
  <div id="app">
    {{ message }}
  </div>

  <div id="app-2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds to see my dynamically bound title!
    </span>
  </div>

  <div id="app-3">
    <p v-if="seen">Now you see me</p>
  </div>

  <div id="app-4">
    <ol>
      <todo-item v-for="todo in todos" v-bind:todo="todo"></todo-item>
    </ol>
  </div>

  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>
