# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="file:./db.sqlite"

# singlestore
SINGLESTORE_USER="user"
SINGLESTORE_PASS="password"
SINGLESTORE_DB_NAME=something.svc.singlestore.com
SINGLESTORE_HOST=URL_TO_DB
SINGLESTORE_PORT=DRIVE_TUTORIAL_DB

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=key
CLERK_SECRET_KEY=key
# if shipping to production, you will have to provide your own app keys to: google, github
# clerk makes it easy for dev mode, but don't continue using their keys in production

UPLOADTHING_TOKEN='token'

NEXT_PUBLIC_POSTHOG_KEY=phc_jbrjmJvA78iGcOc8AAbMj8Y2RVR0StM93IUwriyDh75
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com