<section data-ng-controller="ArticlesController">
	<div class="page-header">
		<h1>New Article</h1>
	</div>
	<div class="col-md-12">
		<form name="articleForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>

				<map center="[{{lat}},{{lon}}]" zoom ='5'>

					<marker position="[{{lat}},{{lon}}]" visible="true"></marker>
					<!-- a initial position must be set because it will prompt the users current geolocation and set it to that -->
				</map>

				<div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="content">Content</label>
					<div class="controls">
						<textarea name="content" data-ng-model="content" id="content" class="form-control" cols="10" rows="1" placeholder="Content"></textarea>
					</div>
				</div>

				<!-- lat -->

				<div class="form-group">
					<label class="control-label" for="content">Latitude</label>
					<div class="controls">
						<textarea name="lat" data-ng-model="lat" id="lat" class="form-control" cols="10" rows="1" placeholder="Latitude"></textarea>
					</div>
				</div>

				<!-- lon -->
				<div class="form-group">
					<label class="control-label" for="content">Longitude</label>
					<div class="controls">
						<textarea name="lon" data-ng-model="lon" id="lon" class="form-control" cols="10" rows="1" placeholder="Longitude"></textarea>
					</div>
				</div>






				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>