example-progress {
    display: block;
    width: 100%;
    position: relative;
    border: 1px solid black;
    height: 18px;
}

example-progress .progressBar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: green;
}

example-progress .progressValue {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
