.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  /* height: 500px; */
  min-height: 500px;
  position: fixed;
  /* right: 0; */
  /* top: 0; */
}

.controlColumn {
  width: 50%;
}

.perspectiveDecoration {
  background-color: hsl(195deg, 20%, 86%);
  position: fixed;
  bottom: 0px;
  height: 40%;
  width: 100%;
  z-index: -1;
}