/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* global reset */
* {
  margin: 0;
  padding: 0;
  /* border-box takes into the margin & padding when setting the width/height */
  box-sizing: border-box;
}

/* best-practice handles the font settings */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;

  padding: 30px;
  /* padding: 3vh; */
}

header {
  height: 95vh;
  /* sets background image */
  /* background-image: url('../img/hero.jpg'); */

  /* sets gradient, than image */
  /* background-image: linear-gradient(to right bottom, #7ed56f, #28b485),url('../img/hero.jpg'); */

  /* changes opacity on gradient */
  background-image:
    linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40,180,131,0.8)
    ),
    url('../img/hero.jpg');

  background-size: cover;

  /* regardless of input, ensures that the image top stays at the top */
  background-position: top;

  /* clip the image: top-left, top-right, bottom-right, bottom-left*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);

  /* used to absolutely position the logo */
  position: relative;
}

.logo-box {
  /* one way: absolute positioning */
  position: absolute;
  /* reference is parent element set to relative */
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  /* top&left:50% starts from the top-left corner of the element */
  top: 40%; /* changed to 40% b/c the clip-path makes it look lower than it really is when at 50%*/
  left: 50%;
  /* this shifts the beginning of the box to be at the center of the box */
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  /* creates new line elements before&after */
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
}